article{
    background-color: var(--bgPrimary);
}

article>header{
    display: flex;
    align-items: center;
    gap: 10px;
}

article>header>img{
    width: 40px;
}

article>header>div>p{
    font-weight: bold;
}

article>header>div>span{
    color: var(--textSecondary);
    font-size: 12px;
}

article>p{
    margin-top: 10px;
    border-left: 3px solid var(--primary);
    padding: 5px 10px;
}

article>main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

article>main>img{
    margin-bottom: 18px;
}

article>main>div{
    width: 100%;
    padding: 0px 18px;
}

article>main>h2{
    font-size: 22px;
    font-weight: bold;
}

article>main>div>p{
    padding-left: 20px;
    margin-top: 10px;

    border-left: 2px solid var(--primary);
}

article>main>footer{
    width: 100%;
    display: flex;
    padding: 18px;
    gap: 5px;
}

article>main>footer>p{
    background-color: var(--bgPrimary);
    padding: 4px 8px;
}

article>footer{
    padding: 0px 18px 18px;
}

article>footer>h3{
    font-size: 18px;
    margin-bottom: 6px;
    cursor: pointer;

    transition: .2s;
}

article>footer>h3:hover{
    color: var(--primary);
}

article>footer>div{
    display: flex;
}
